# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python
*.pyc

# Outputs
build/
bin/
artifacts/
archives/
coreVM
coreVM_dbg
src/corevm/corevm_bytecode_schema.h
*.tmp.py
*.out

# coreVM bytecode
*.core

# Misc.
*.DS_Store
*.swp
