# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Tests
*.test

# Outputs
instrs_info.json

# Binaries
coreVM
tools/bin/*

# coreVM bytecode
*.core

# Misc.
*.DS_Store
*.swp
